<!-- File HTML untuk mengisi data 'about' -->
<!-- Main-Content -->
<div class="container mt-5">
	<div class="row">
		<div class="col text-center">
			<h1 class="display4"> Dani Mulyana</h1>
			<p class="lead">Peserta bootcamp 3</p>
			<img src="../public/assets/img/pp.jpeg"alt="ss" style ="width:12rem; object-fit: cover; object-position: top; border-radius: 50%; border: 2px solid gray; ">
		</div>
	</div>
</div>