<!-- File HTML untuk mengisi data 'about' -->
<%- include('layout/header') %>
<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1 class="display4"> Dani Mulyana</h1>
			<p class="lead">Peserta bootcamp 3</p>
			<img src="../public/assets/img/ss.png" alt="ss" style ="max-width:200px ;">
		</div>
	</div>
</div>
<%- include('layout/footer') %>